
* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 1080px;
}

body {
    background-color: white;
    font-family: Trebuchet MS, Helvetica;
}


/* Главный блок на сайте */

@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 25%;
    }
}
.butt {
    border: 3px solid #1a171c;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    width: 400px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: Arial, sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
    border-radius: 5px;
    background: rgb(236, 228, 228);
}

#overview{
    float: left;
    background-image: url("/images/fon.jpg");
    background-color: #403f40;
    background-size:cover;
    background-attachment: fixed;
    padding: 100px 0;
    width: 100%;
    height: 5000px;
    text-align: center;
    color: #fff;
}

#overview h2 {font-size: 4em}
#overview h4 {color: #ccc; font-size: 1.5em}

@media (min-width: 561px) {
    #overview h2 {font-size: 4em}
}

@media (max-width: 560px) {
    #overview h2 {font-size: 2em}
}

#overview .img {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 50px;

}

#overview .img:nth-child(odd) {
    margin-left: 16%;
}


#overview span {
    float: left;
    width: 100%;
    font-size: 2em;
    margin-top: 10px;
}

@media (max-width: 700px) {
    #overview .img {
        width: 80%!important;
        margin-right: 0!important;
        margin-left: 10%!important;
    }
}

#form_input {
    margin-top: 15px;
    font-size: 1.1em;
}

@media (min-width: 1051px) {
    #form_input {
        width: 35%;
        margin-left: 38%;
    }
}

@media (max-width: 1050px) {
    #form_input {
        width: 90%;
        margin-left: 10%;
    }
}

#form_input label {
    color: #505050;
    cursor: pointer;
    font-size: 1.4em;
    font-family: 'Roboto Slab', serif;
}

#form_input label > span {
    color: #e87e7e;
}

#form_input input,#form_input textarea {
    margin-bottom: 10px;
    width: 70%;
    padding: 10px 2%;
    border-radius: 7px;
    border: 2px solid silver;
    font-size: 0.9em;
    color: #4a4a4a;
}

#form_input input:focus, #form_input textarea:focus {
    border-color: #333;
}

.btn {
    float: left;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 1.2em;
    background-color: #ec6550;
    text-shadow: #454545 0 0 2px;
    cursor: pointer;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.btn:hover {
    background-color: #c15443;
}

/* Вопросы и ответы */


.container img{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.product-wrapper {
    display: block;
    width: 100%;
    float: left;
}
@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 50%;
    }
}
@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 33.333%;
    }
}
@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 25%;
    }
}

/* ВНЕШНИЙ БЛОК */
#panel {
    z-index: 3;
    position: fixed; /* положение */
    top: 100px; /* отступ сверху */
    left: 0; /* отступ слева */
    background: rgba(219, 218, 218, 0.44); /* цвет фона */
    width: 30px; /* ширина блока */
    height: 200px; /* высота блока */
    font: 14px Arial; /* размер и тип шрифта */
    color: #d2d2d2; /* цвет текста */
    text-align: center; /* выравнивание текста по центру */
    padding: 5px; /* отступы от границ внутри блока */
    border: 2px solid #ffffff;

    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 0 5px 5px 0; /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

/* СКРЫТЫЙ БЛОК */
#hidden_panel {
    position: fixed; /* положение */
    top: 100px; /* отступ сверху */
    left: -170px; /* отступ слева */
    background: rgba(219, 218, 218, 0.44); /* цвет фона */
    color: #000; /* цвет текста */
    width: 146px; /* ширина блока */
    height: auto; /* высота блока */
    padding: 10px; /* отступы от границ внутри блока */
    text-align: left; /* выравнивание текста */
    border: 2px solid #ffffff;
    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-border-radius: 0 5px 5px 0; /* закругление границ для всех браузеров*/
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
#panel:hover {
    left: 170px; /* при наведении выдвигается на скрытые 200px + 20px отступы */
}
#panel:hover #hidden_panel {
    left: 0; /* отступ слева */
}
.butt1 {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    width: 145px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: Arial, sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}a{
     text-decoration: none;
 }
