/*body {*/
/*    background-image: url("/images/fon.jpg");*/
/*    font-family: Arial;*/
/*    font-size: 17px;*/
/*    padding: 8px;*/
/*}*/

* {
    margin: 0;
    padding: 0;
    outline: none;
}
#overview{
    float: left;
    background-image: url("/images/fon.jpg");
    background-color: #403f40;
    background-size:cover;
    background-attachment: fixed;
    padding: 100px 0;
    width: 100%;
    height: 5000px;
    text-align: center;
    color: #fff;
}
* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.intro__content {
    margin: 150px 500px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 500px;
    height: 100%;
}

input[type=text] {
    width: 200px;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    font-size: 18px;
}

label {
    margin-bottom: 0;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #171817;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

/* Адаптивный макет - когда экран меньше 800 пикселей в ширину, сделайте два столбца стеком друг на друга, а не рядом друг с другом (также измените направление-сделайте столбец "корзина" сверху) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}
.reference {
    display: none;
}
.reference ~ .story{
    display: none;
}
.reference + label {
    border: ridge;
    margin: 50px auto;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    height: auto;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: Arial, sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(232, 231, 231);


}
.reference:checked ~ .story {
    display: block;

    padding: 10px;
}
.spravca {
    position: relative;
}

h1{
    border-radius: 10px;
    box-shadow: 0 0 7px 3px #ff0000;
    text-indent: 30px;
    padding: 10px 20px 10px 20px;
    margin: 50px auto;
    width: 500px;
    color: white;
}
.butt {
    margin: 50px auto;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
    height: auto;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: Arial, sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}
a{
    text-decoration: none;
}